@Model List<proyectoscrum.Models.Role>

    <table>
        <thead>
            <tr>
                <th>ID Rol</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rol in Model)
            {
                <tr data-rol-id="@rol.IdRol" onclick="buscarRolSeleccionado('@rol.IdRol')">
                    <td>@rol.IdRol</td>
                    <td>@rol.NombreRol</td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        function buscarRolSeleccionado(rolId) {
            // Asignar el valor del ID al textbox del View principal
            $('#IdRol').val(rolId);
            // Cerrar el popup
            $('#ventana-emergente').dialog('close');
        }
    </script>
