@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p><a href="https://www.mep.go.cr/">Garantizamos el derecho  fundamental a una educación de calidad a los habitantes del país.</a>.</p>
    <div>
        <img src="~/images/logo-mep-noticias.jpg" alt="Logo">
    </div>
</div>
